.temp img {
}

.temp div.temp {
    background-color: #eeeeee;
}

.temp div.content {
    background-color: #dddddd;
}

.temp div.footer {
    text-transform: uppercase;
}

.temp ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.temp nav.temp_nav {
    text-align: center;
    background-color: #404040;
}

.temp nav.temp_nav > ul > li {
    display: inline-block;
    padding: 10px;
    position: relative;
    width: 150px;

    margin: 0 10px;
}

.temp nav.temp_nav a {
    color: white;
    text-decoration: none;
}

.temp nav.temp_nav ul li:hover > ul {
    display: block;
}

.temp nav.temp_nav ul li > ul {
    padding: 0;
    width: 100%;
    left: 0;
    top: 41px;
    position: absolute;
    list-style-type: none;
    color: rgb(208, 197, 255);
    display: none;
    box-shadow: 1px 1px 2px black;
}

.temp nav.temp_nav ul li > ul > li {
    width: 100%;
    background-color: #404040;
    padding: 5px;
}

.temp nav.temp_nav ul > li > ul > li:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.temp section.jumbotron {
    width: 100%;
    height: 100vh;
    padding-top: 42vh;
    text-align: center;
    background-image: url("../../../src/assets/images/2.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.temp section.jumbotron h1 {
    color: white;
    font-size: 40px;
}

.temp section.jumbotron button {
    margin-top: 50px;
    padding: 20px;
    background-color: red;
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: all .3s;
}

.temp .temp section.jumbotron button:hover {
    background-color: orangered;
}

.temp section.gallery {
    height: 400px;
    overflow-y: auto;
}

.temp section.gallery img {
    float: left;
}

.temp section.gallery img:hover {
    opacity: 0.8;
    cursor: pointer;
}

.temp button.button-grad {
    display: inline-block;
    margin: 4px 2px;
    padding: 15px 30px;
    min-width: 30%;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;   
    background-color: inherit;
    border: solid 1px;
    background-position: 100% 0;
    background-size: 300%;
    transition: 0.4s;
}

.temp button.button-grad:hover {
    background-position: 0 100%;
    color: white;
}

.temp .button-grad.purple {
    background-image: linear-gradient(90deg, #8e44ad 50%, transparent 50%);
}

.temp .button-grad.yellow {
    background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
}

.temp .button-grad.blue {
    background-image: linear-gradient(135deg, #3498db 50%, transparent 50%);
}

.temp .star8 {
    display: inline-block;
    margin: 2em;
    transform: rotate(22deg);
    transition: backround linear .3s;
}

.temp .star8::before {
    background-color: #ffffff;
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    transform: rotate(45deg);
}

.temp .star8,
.temp .star8::before,
.temp .star8 i.fa {
    width: 80px;
    height: 80px;
    box-sizing: unset;
    text-align: start;
}

.temp .star8.gold,
.temp .star8.gold::before {
    border: solid 6px #ffc107;
}

.temp .star8.orange,
.temp .star8.orange::before {
    border: solid 6px #fd7e33;
}

.temp .star8.blue,
.temp .star8.blue::before {
    border: solid 6px #3fb0ac;
}

.temp .star8 i.fa {
    margin: 0;
    position: absolute;
    background-color: white;
    font-size: 60px;
}

.temp .star8 i.fa::before {
    transform: rotate(-22deg);
    position: absolute;
    margin: 10px;
}

.temp .star8.gold:hover::before,
.temp .star8.gold:hover, 
.temp .star8.gold:hover i.fa {
    background-color: #ffc107;
}

.temp .star8.orange:hover::before,
.temp .star8.orange:hover, 
.temp .star8.orange:hover i.fa {
    background-color: #fd7e33;
}

.temp .star8.blue:hover::before,
.temp .star8.blue:hover, 
.temp .star8.blue:hover i.fa {
    background-color: #3fb0ac;
}

.temp .star8:hover::before,
.temp .star8:hover, 
.temp .star8:hover i.fa {
    transition: ease-in-out .3s;
}

.social h2 {
    color: #505050;
    font-size: 40px;
}

.social {
    margin: 0 auto;
    width: 500px;
    padding: 50px;
}

.social .panel button {
    width: 75px;
    height: 75px;
    border: 0;
    color: #ffffff;
    border-radius: 50%;
    margin: 20px;
    color: black;
    cursor: pointer;
    box-shadow: 0px 1px 3px black;
    font-size: 40px;
}

.social .panel button.twitter {
    color: #4099FF;
}

.social .panel button.twitter:hover {
    background-color: #4099FF;
}

.social .panel button.facebook {
    color: #3B5998;
}

.social .panel button.facebook:hover {
    background-color: #3B5998;
}

.social .panel button.google-plus {
    color: #DB5A3C;
}

.social .panel button.google-plus:hover {
    background-color: #DB5A3C;
}

.social .panel button.instagram {
    color: #5C3D2E;
}

.social .panel button.instagram:hover {
    background-color: #5C3D2E;
}

.social .panel button.github {
    color: #303030;
}

.social .panel button.github:hover {
    background-color: #303030;
}

.social .panel button:hover {
    transform: scale(1.1);
    color: white;
}

.temp .grid_container {
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
}

.temp .grid_row,
.temp .grid_row::before {
    content: "";
    display: table;
    clear: both;
    width: 100%;
}

[class*="grid_col-"] {
    float: left;
    min-height: 1px;
    padding: 5px;
    border: dashed 1px;
}

$twelfth: 8.333%;

@for $var from 1 to 13 {
    .grid_col-#{$var} {
        width: $var * $twelfth;
    }
}

@for $var from 1 to 12 {
    .grid_col_offsetX-#{$var} {
        margin-left: $var * $twelfth;
    }
}

* {
    box-sizing: border-box;
} 

.rwd_container {
    width: 100%;
    max-width: 1200px;
    margin: auto; 
}

.rwd_container * {
    margin: 0 !important;
}

.rwd_row:before,
.rwd_row:after {
    content: "";
    display: table ;
    clear: both;
}

[class*="rwd_col-"] {
    width: 100%;
    padding: 12px;
    float:left;
}
    


$twelfth: 8.333%;

@for $var from 1 to 13 {
    .rwd_col-#{$var} {
        width: $var * $twelfth;
    }
}

@media (max-width: 768px) {
    @for $var from 1 to 13 {
        .rwd_col_m-#{$var} {
            width: $var * $twelfth;
        }
    }
}
