.post_item {
    width: 80%;
    min-height: 200px;
    max-width: 900px;
    display: flex;
    flex-flow: column;
    padding: 10px;
    justify-content: space-evenly;
    margin: 20px 0;
    background: whitesmoke;
    box-shadow: 1px 1px 2px black;
    border-radius: 5px;
}

.post_item hr {
    margin-left: 0;
    margin-right: 0;
}

.post_item .footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}

.post_item .footer button {
    width: 20%;
    min-width: 30px;
    max-width: 150px;
    height: 30px;
    font-size: 100%;
    border-radius: 10px;
    border: none;
    border: solid 1px #404040;
    cursor: pointer;
    color: #404040;
}

.post_item .footer button:hover {
    background-color: #404040;
    color: white;
}